.education-item {
    border-left: 1px solid #f4f5f7;
    position: relative;
    padding: 32px 24px 8px 40px;
    margin-left: 35px;
}
@media (min-width: 768px) {
    .education-item {
        margin-left: 110px;
   }
}
.education-item .education-icon {
    position: absolute;
    left: -1.3rem;
    width: 42px;
    text-align: center;
    font-size: 22px;
    background-color: #fff;
}
@media (min-width: 768px) {
    .education-item .education-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right;
   }
}



.lenguajes ul {
    margin: 0 5px;
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lenguajes ul li {
    margin: 0.625rem;
    color: white;
    /* background-color: var(--red); */
    color: var(--azul);
    border: 1px solid var(--azul);
    /* box-shadow: 1px 3px 5px var(--red-light); */
    padding: 1px 14px;
    border-radius: 0.9375rem;
    -moz-border-radius: 0.9375rem;
    -ms-border-radius: 0.9375rem;
    -o-border-radius: 0.9375rem;
    -webkit-border-radius: 0.9375rem;
    font-family: var(--font-family-montserrat);
    font-weight: 100;
    font-size: 12px;
}